@font-face {
    font-family: "Musicografi";
    src: url("fonts/Musicografi.ttf");
}

h2 {
	padding: 0.2em 0em 0.2em 0.5em;
}

p {
	padding: 0.5em;
}

.header {
	background-color: black;
	color: white;
	padding: 0.5em 0em 0em 1em;
}

.header_title {
    font-family: 'Musicografi';
	font-size: 4em;
}

.btn {
	width: 100%;
	max-width: 10em;
	padding: 0.5em;
}

.date_filter_form, .format-form, .btn-group, .chart{
    padding: 0.5em;
}

.btn-export{
    width: 100em;
}

#amount{
    border:0;
    color:#f6931f;
    font-weight:bold;
}

.table {
    margin: 0 auto;
}

.material-icons {
    position: relative;
    vertical-align:middle;
}

.material-icons:hover {
    color: #007bff !important;
}

.material-icons:hover {
    color: #007bff !important;
}